:root {
  --white:#F5F5F5;
  --orange:#FF4500;
  --gray: #2F4F4F;
  --size2: 2px;
  --size20: 20px;
  }

* { box-sizing: border-box;}

html * {font-family: Cavolini, Arial, Helvetica;} 

a:hover, a:active {
  text-decoration: none;}
  
header {
  background-color: var(--white);
  height: 375px;
  display: flex; 
  color: var(--gray);
  padding: 5px;}
 
#headimg {
  width: 100%; 
  height: 100%;}
  
#main {background-color: var(--gray);}

body {
  background-color: var(--gray);}

.txtcol {color: var(--orange);}
.txtWCol {color: var(--white);}
.txtGCol {color: var(--gray);}

#idcard {
  background-color: var(--white);
  color: var(--orange);}
  
#idpic {
  border: 1px solid var(--gray);}

#conbtn {
  color: var(--gray);
  text-decoration-line: underline;} 
 
#conbtn:hover {
  text-decoration-line: none;} 
 
#navibar {
  background-color: var(--white);
  color: var(--gray);
  padding: var(--size20);}

a.navlinks:link, a.navlinks:visited {
  color: var(--gray);}

a.navlinks:hover, a.navlinks:active {
  color: var(--orange);}

.nav-imgs {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  background-color: var(--white);}

.nav-img {margin: 1em;}

.gif {
float: right;	
max-width: 20%;
}

.sectiondivs {
  color: var(--gray);	
  background-color: var(--white);
  padding: var(--size20);}
 
.sitetable {
  background-color: var(--gray);
  color: var(--white);
  padding: var(--size20);
  width: 50%;
  list-style-type: circle;}

a.codereclinks:link, a.codereclinks:visited {
color: var(--white);}

a.codereclinks:hover, a.codereclinks:active {
  color: var(--orange);}
  
.portdivs {
  display: flex;}
  
#eschead {
  max-width: 100%;
  background-color: var(--white);
  color: var(--orange);
  padding: var(--size20);}

#escapades {
  background-color: var(--white);
  color: var(--gray);
  padding: var(--size20);}	
  
li.esclinks {text-decoration: underline;}  

li.esclinks:hover {
  color: var(--orange);
  text-decoration: none;}

footer {
  color: var(--white);
  overflow: hidden;} /* clear the white edge */

.footdivs {
  height:50px;
  background-color: var(--gray);}
  

  









