:root {
  --white:#F5F5F5;
  --orange:#FF4500;
  --gray: #2F4F4F;
  --size2: 2px;
  --size20: 20px;
  }

* { box-sizing: border-box;}

html * {font-family: Cavolini, Arial, Helvetica;} 

a:hover, a:active {
	text-decoration: none;
}
header {
  background-color: var(--white);
  color: var(--orange);
  height: 375px;
  display: flex;}
 
#headimg {
  width: 100%; 
  max-height: 100%;}
  
#main {background-color: var(--gray);}

body {
  background-color: var(--gray); 
  color: var(--gray);}

#idcard {
  background-color: var(--white);
  margin: var(--size20);}

.txtcol {color: var(--orange);}
  
#iddiv {
  color: var(--orange);
  width: 100%; 
  max-height: 100%;}
  
#idpic {
  max-width: 35%; 
  max-height: 15%;
  border: none;}

#conbtn {
  color: var(--gray);
  text-decoration-line: underline;} 
 
#conbtn:hover {
  text-decoration-line: none;} 
 
#navibar {
  background-color: var(--white);
  color: var(--gray);
  padding: var(--size20);}

a.navlinks:link, a.navlinks:visited {
  color: var(--gray);}

a.navlinks:hover, a.navlinks:active {
  color: var(--orange);}


.sectiondivs {
  color: var(--gray);	
  background-color: var(--white);
  padding: var(--size20);}
 
.sitetable {
  background-color: var(--gray);
  color: var(--white);
  padding: var(--size20);
  width: 50%;
  list-style-type: circle;}

a.codereclinks:link, a.codereclinks:visited {
color: var(--white);}

a.codereclinks:hover, a.codereclinks:active {
  color: var(--orange);}
  
#eschead {
  max-width: 100%;
  background-color: var(--white);
  color: var(--orange);
  padding: var(--size20);}

#escapades {
  background-color: var(--white);
  color: var(--gray);
  padding: var(--size20);}	
  
li.esclinks {text-decoration: underline;}  

li.esclinks:hover {
  color: var(--orange);
  text-decoration: none;}

footer {
  color: var(--white);
  background-color: var(--white);}

.footdivs {
  height:50px;
  background-color: var(--gray);}
  









