:root {
  --orange:#FF4500;
  --gray: #2F4F4F;
  --white:#F5F5F5;
  --size25: 25px;
  --size2: 2px;}

* { box-sizing: border-box;}

html * {font-family: Cavolini, Arial, Helvetica;} 

h1 {color: var(--orange);}

header {
  display: flex;
  justify-content: center;
  align-items: center;}
  
#canvasdiv {
  margin: 0px auto;
  width: 550px;
  height: 350px;
  background-color: var(--white);}

#flagCanvas {
  border: var(--size2) solid var(--gray);
  margin: var(--size25) auto;}

body {
  background-color: var(--gray); 
  color: var(--white);}
  
#trn {
  text-align: center;
  background-image: linear-gradient(red, red, gold, blue, blue);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4em;
}

#specs {
  display: flex;
  justify-content: space-between;  
  align-items: center;}







